.show-footer {
  z-index: 9999;
}

.edit-profile-header {
  display: flex;
  padding: 12px 15px;
}

.edit-profile-header h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}

.edit-personal-info-container {
  padding: 30px 30px;
}

.edit-personal-info-container h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.edit-profile-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.edit-profile-form div:last-child {
  margin-bottom: 20px;
}

.edit-profile-form label {
  font-size: 18px;
  font-weight: 350;
  margin-bottom: 5px;
  color: #847f7f;
}

.edit-profile-form input {
  outline: none;
  border-bottom: 1px solid;
  background-color: white;
  font-size: 18px;
}

.edit-profile-form .edit-profile-btn {
  width: 70%;
  max-width: 500px;
  background-color: #7c2d12;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.edit-profile-form .edit-profile-btn:hover {
  background-color: #981b1b;
}

.edit-profile-form .password-container-input {
  position: relative;
}

.edit-profile-form .password-container-input .visibility-icon {
  right: 0;
  top: 5%;
}

.edit-profile-form .errorMsg {
  width: max-content;
  max-width: 500px;
}

.edit-profile-bg-container .update-success {
  color: #7c2d12;
}

@media only screen and (min-width: 768px) {
  .edit-personal-info-container .errorMsg {
    width: 100%;
    margin-bottom: 10px;
    color: #7c2d12;
  }
  .edit-profile-bg-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../pics/edit-profile-bg.jpg");
    background-size: cover;
    display: flex;
  }
  .edit-personal-info-container {
    max-width: 400px;
    min-width: 350px;
    padding: 50px 40px;
    border-radius: 30px;
    margin: auto;
    background-color: white;
  }
}

@media only screen and (min-width: 1024px) {
  .edit-profile-dialog .MuiDialog-container {
    width: 100vw;
  }

  .edit-profile-dialog .MuiPaper-root {
    max-width: 1280px;
  }

  .edit-profile-bg-container {
    background: none;
  }

  .edit-personal-info-container {
    width: 50%;
    padding: 50px 40px;
    border: 1px solid #7e7e7d;
    border-radius: 30px;
  }

  .edit-profile-bg-container .lg-bg {
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../pics/edit-profile-bg.jpg");
    background-size: cover;
  }
}
